/*公共样式*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: '楷体';
}

/*!*公共字体样式*!*/
/*@font-face {*/
/*	font-family: 'Smiley_Sans_Oblique_斜体';*/
/*	src: url("@/assets/font/Smiley_Sans_Oblique_斜体.woff2")format("woff2"),*/
/*	url("@/assets/font/Smiley_Sans_Oblique_斜体.woff")format("woff"),*/
/*	url("@/assets/font/Smiley_Sans_Oblique_斜体.otf")format("otf"),*/
/*	url("@/assets/font/Smiley_Sans_Oblique_斜体.ttf")format("ttf");*/
/*}*/
/*@font-face {*/
/*	font-family: '楷体', 'KaiTi', '楷体_GB2312';*/
/*}*/
html {
	height: 100%;
}
body {
	background-image: url("@/assets/images/b3a36dfaa9390fb5-ffe333713788d324-ab37281781489fda9b7f8ff3ca84ba67.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

a {
	text-decoration: none;
	color: #333333;
}
li {
	list-style: none;
}